{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    {# Affichage équipes #}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Equipe <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#">Equipe 1</a></li>
            <li><a href="#">Equipe 2</a></li>
            <li><a href="#">Equipe</a></li>
            <li><a href="#">Equipe</a></li>
            <li><a href="#">Equipe</a></li>
            <li><a href="#">Equipe</a></li>
        </ul>
    </li>
    
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} <b class="caret"></b></a>
        <ul class="dropdown-menu">
            <li class="dropdown-header">Mes fiches de joueur</li>
            <li><a href="#">Gérer mes fiches joueur</a></li>
            <li class="divider"></li>
            <li class="dropdown-header">Mon Compte</li>
            <li><a href="{{ path('fos_user_profile_show') }}">Voir mon profil</a></li>
            <li><a href="{{ path('fos_user_profile_edit') }}">Gérer mon profil</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}">{{ 'layout.logout'|trans({}, 'FOSUserBundle') }}</a></li>
        </ul>
    </li>
{% else %}
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="text-primary">{{ 'layout.login'|trans({}, 'FOSUserBundle') }} / {{ 'layout.register'|trans({}, 'FOSUserBundle') }} <b class="caret"></b></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('fos_user_registration_register') }}">{{ 'layout.register'|trans({}, 'FOSUserBundle') }}</a></li>
            <li><a href="{{ path('fos_user_security_login') }}">{{ 'layout.login'|trans({}, 'FOSUserBundle') }}</a></li>
        </ul>
    </li>
{% endif %}
