{% extends '::base.html.twig' %}

{% block topbody %}
<div class="clearfix">
    <div class="pull-left">
        <h1><small>Page de l'équipe : </small><br />{{ entity.fullName }}</h1>
        {% if entity.club is not empty %}
            <p>Cette équipe appartient au club <a href="{{ path('club_show', { 'slug': entity.club.slug }) }}">{{ entity.club.name }}</a>.</p>
        {% else %}
            <p>Cette équipe n'est affiliée à aucun club.</p>
        {% endif %}
    </div>
    <div class="pull-right">
        <a href="{{ path('team_edit', { 'slug': entity.slug }) }}">
            <span class="btn btn-default">Editer <span class="glyphicon glyphicon-edit"></span></span>
        </a>
    </div>
    
</div>
{% endblock %}
{% block body -%}
    <section class="widget">
        <header class="widget-header">
            <p class="h5">Equipe : {{ entity.name }}</p>
            <h2>Détails de l'équipe</h2>
        </header>
        <div class="widget-row">
            <dl>
                <dt>Matricule :</dt>
                <dd>{{ entity.matricule }}</dd>
                {% if entity.division is not empty %}
                    <dt>Division :</dt>
                    <dd>{{ entity.division }}</dd>
                {% endif %}
                {% if entity.website is not empty %}
                    <dt>Site web :</dt>
                    <dd><a href="{{ entity.website }}">{{ entity.website }}</a></dd>
                {% endif %}
            </dl>
        </div>
    </section>
    
    {% if entity.teamInstances is not empty %}
        <section class="widget">
            <header class="widget-header">
                <h2>Compositions de l'équipe</h2>
            </header>
            <div class="widget-row"><ul class="list-inline">
            {% for teamInstance in entity.teamInstances %}
                <li>
                    <button class="btn btn-default btn-xs" data-toggle="modal" data-target="#tinstance-{{ teamInstance.id }}">{{ teamInstance.beginDate|date("m/d/Y", "Europe/Paris") }} <span class="glyphicon glyphicon-zoom-in"></span></button>
                </li>
                <div class="modal fade" id="tinstance-{{ teamInstance.id }}"  tabindex="-1" role="dialog" aria-labelledby="tinstance-label-{{ teamInstance.id }}" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                <h4 class="modal-title" id="tinstance-label-{{ teamInstance.id }}" >Composition de l'équipe à partir du {{ teamInstance.beginDate|date("m/d/Y", "Europe/Paris") }}</h4>
                            </div>
                            <div class="modal-body">BIDULE</div>
                            <div class="modal-footer"><button type="button" class="btn btn-default" data-dismiss="modal">Fermer</button></div>
                            
                        </div>
                    </div>
                </div>
            {% endfor %}
            </ul></div>
        </section>
    {% endif %}
{% endblock %}
