{% extends '::base.html.twig' %}

{% block topbody %}<h1>Liste des sports</h1>{% endblock %}
{% block body -%}
    <section class="widget">
        <header class="widget-header">
            <h2>Sports <small>(joueurs Min/joueurs Max)</small></h2>
        </header>
        {% for entity in entities %}
            <div class="widget-row hoverable clearfix">
                <p class="pull-left last-child">
                    <a href="{{ path('sport_show', { 'id': entity.id }) }}">{{ entity.name }}</a>
                    <span class="text-info">
                        ({{ entity.nbPlayersMin }}/{{ entity.nbPlayersMax }})
                    </span>
                        
                </p>
                <p class="pull-right" >
                    <a href="{{ path('sport_edit', { 'id': entity.id }) }}">
	                    <span class="btn btn-default btn-xs">
	                        Editer <span class="glyphicon glyphicon-edit"></span>
	                    </span>
                    </a>
                </p>
            </div>
        {% endfor %}
        <div class="widget-row">
            <p><a href="{{ path('sport_new') }}">Créer un nouveau sport</a></p>
        </div>
    </section>
{% endblock %}
