{% extends '::base.html.twig' %}

{% block topbody %}
    <h1>Sport : {{ entity.name }}</h1>
    <p><a href="{{ path('sport') }}">Revenir à la liste des sports</a></p>
{% endblock %}

{% block body -%}
    <section class="widget">
        <header class="widget-header">
            <p class="h5">Sport</p>
            <h2>{{ entity.name }}</h2>
        </header>
        <div class="widget-row">
            <dl>
                <dt>Nombre de joueurs minimum :</dt>
                <dd>{{ entity.nbPlayersMin }}</dd>
                <dt>Nombre de joueurs maximum :</dt>
                <dd>{{ entity.nbPlayersMax }}</dd>
            </dl>
        </div>
        <div class="widget-row clearfix">
            <ul class="list-inline">
                <li>
                    <a href="{{ path('sport_edit', { 'id': entity.id }) }}">
                        <span class="btn btn-default">
                            Editer <span class="glyphicon glyphicon-edit"></span>
                        </span>
                    </a>
                </li>
                <li>
                    {{ form(delete_form) }}
                </li>
            </ul>
        </div>
    </section>
{% endblock %}
